.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-in {
    border: 10px solid rgb(206, 167, 108);
    width: max-content;
    height: max-content;
}

.Book {
    display: flex;
    border-bottom: 10px solid rgb(206, 167, 108);
    box-shadow: rgba(0, 0, 0, 0.4) 0px -50px 20px -30px inset;
}

.Book:last-child {
    border-bottom: 0;
}

.Book-in {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    margin: 10px;
    height: 170px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0 3px 3px 0;
}